@media (max-width: 850px) {
  .console__inner {
    height: 350px;
    min-width: 300px;
  }
}





@media (max-width: 680px) {
  .header__nav {
    display: none;
  }
  /* Burger */
    .burger {
        display: block;
    }
  .console__inner {
    height: 275px;
    min-width: 300px;
  }
}
