@media (max-width: 850px) {
  .container {
    padding: 0 12px;
  }
  .console__inner {
    height: 275px;
    min-width: 300px;
    margin: 25px 30px 25px 30px;
  }
  .features {
    height: 430px;
  }
}
@media (max-width: 700px) {
  .features {
    height: 610px;
  }
  .features__item {
    width: 50%;
  }
}

@media (max-width: 680px) {
  .header__nav {
    display: none;
  }
  /* Burger */
  .burger {
    display: block;
  }
  .console__inner {
    height: 275px;
    min-width: 300px;
  }
}
@media (max-width: 450px) {
  .features {
    height: 1175px;
  }
  .features__item {
    width: 100%;
  }
}
