@media (max-width: 850px) {
  .container {
    padding: 0 10px;
  }
  .console__inner {
    height: 275px;
    min-width: 300px;
    margin: 25px 30px 25px 30px;
  }
}





@media (max-width: 680px) {
  .header__nav {
    display: none;
  }
  /* Burger */
    .burger {
        display: block;
    }
  .console__inner {
    height: 275px;
    min-width: 300px;
  }
}
