@import ../../styles/_reusableClasses
@import ../../styles/_typography
@import ../../styles/_colors

.footer
	&__copy
		display: block
		margin: 2.5rem 0 2rem
		text-align: center
		font-size: $--smaller-font-size
		color: $--text-color-light