// ==================== VARIABLES SASS ==================== 
	// Colors 
	// Color mode HSL(hue, saturation, lightness)
		
			//Blue: rgba(29,29,70,1)	
			//Purpule: rgba(91,64,180,1)	
			//Pink: rgba(231,126,154,1)	
			//Tan: hsl(35, 97%, 69%)	
			//LightBlue: hsl(199, 97%, 74%)
$white: #fff

$--hue: 344
$--sat: 68.6%
$--lig: 70%

$--first-color: hsl($--hue, $--sat, $--lig)
$--first-color-alt: hsl($--hue, $--sat, 66%) // -4%
$--title-color: hsl($--hue, 12%, 95%)
$--text-color: hsl($--hue, 12%, 87%)
$--text-color-light: hsl($--hue, 8%, 75%)
$--text-color-lighten: hsl($--hue, 8%, 92%)
$--body-color: rgba(29,29,70,0.21)
$--container-color: rgba(29,29,70,0.2)
$--container-color-alt: rgba(29,29,70,0.3)

