/* ==================== VARIABLES SASS ==================== */
	/* Colors */
	/* Color mode HSL(hue, saturation, lightness) */
		/*
			Blue: hsl(207, 90%, 61%)	
			Purpule: hsl(250, 66%, 75%)	
			Pink: hsl(356, 66%, 75%)	
			Teal: hsl(174, 63%, 62%)	
$white: #fff

$--hue: 207
$--sat: 90%
$--lig: 61%

$--first-color: hsl($--hue,$--sat,$--lig)
$--first-color-alt: hsl($--hue, $--sat, 57%) // -4%
$--title-color: hsl($--hue, 12%, 15%)
$--text-color: hsl($--hue, 12%, 45%)
$--text-color-light: hsl($--hue, 8%, 75%)
$--text-color-lighten: hsl($--hue, 8%, 92%)
$--body-color: hsl($--hue, 100%, 99%)
$--container-color: $white

