@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600&display=swap')
// Palette color
@import _colors.sass
@import _typography.sass

::-webkit-scrollbar
	width: 0.6rem
	border-radius: .5rem
	background-color: hsl($--hue, 8%, 16%)

::-webkit-scrollbar-thumb
	border-radius: .5rem
	background-color: hsl($--hue, 8%, 24%)
	&:hover
		background-color: hsl($--hue, 8%, 32%)


/* Base Styles */
*
	box-sizing: border-box
	padding: 0
	margin: 0

body
	font-family: $--body-font
	font-size: $--normal-font-size
	background: linear-gradient(180deg, rgba(29,29,70,1) 0%, rgba(231,126,154,1) 50%, rgba(91,64,180,1) 100%)
	animation: gradient 1s ease infinite
	color: $--text-color


h1,h2,h3
	color: $--text-color
	font-weight: 600

ul
	list-style: none

a
	text-decoration: none

img
	max-width: 100%
	height: auto

button
	border: none
	outline: none
	cursor: pointer